@font-face {
    font-family: 'NeutralFace';
    src: url(./fonts/NeutralFace.otf) format('opentype'); 
}   

@font-face {
    font-family: 'NeutralFace';
    src: url(./fonts/NeutralFace-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.animation-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    perspective: 1000px;
}

.calculator {
    height: auto;
    max-width: 300px;
    margin: 15%;
    padding: 1rem;
    flex: auto;

    background-color: #d7d7d7;
    box-shadow: 0px 0px 100px -3px rgba(0,0,0,0.15);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .calculator {
        margin: 5%;
    }
    .animation-container {
        justify-content: center;
    }
}

.display {
    width: 100%;
    height: 100px;

    font-family: 'Poppins';
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;

    margin-bottom: 2.5rem;
    padding: 10px;
    gap: 5px;

    transition: transform 0.75s ease-out;

    display: flex;
    flex-direction: column;
}

.upper-display {
    height: 70%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 3px;
}

.upper-display::-webkit-scrollbar {
    display: none;
}

.lower-display {
    flex: auto;
    text-align: end;
}

.button-housing {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10%;
    width: 100%;
    transition: transform 0.85s ease-out;
}

.row {
    display: flex;
    justify-content: space-between;
}

.button-housing button{
    height: 55px;
    margin: 4px;
    flex: 1;

    font-family: 'Poppins';
    font-weight: bold;
    font-size: 11px;
    color: #7b7a78;
    background-color: #f2f2f2;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 0;
    border-bottom: 0;
    border-radius: 8px;
}

.button-housing button:active {
    transform: translateY(2px);
}

.utility button {
    background-color: black;
    color: whitesmoke;
    border: none;
}

.row .operator{
    background-color: coral;
    color: whitesmoke;
    border: none;
}

.text-container {
    position: absolute;
    width: 50vw;
    bottom: 0;
    left: 0;
}

.text-container p {
    font-family: 'NeutralFace';
    font-weight: bold;
    font-size: 6vw;
    margin: 4.5vw;
    color: black;
}